@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Paths?.Any() == true)
{
    <h1 class="display-4">Paths</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Path
                </th>
                <th scope="col">
                    Retention Period (Days)
                </th>
                <th scope="col">
                    Created
                </th>
                <th scope="col">
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Paths)
            {
                <tr class="align-middle">
                    <td scope="row">
                        @item.Id
                    </td>
                    <td scope="row">
                        @item.Path
                    </td>
                    <td>
                        @item.RetentionDays
                    </td>
                    <td>
                        @item.Created.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-sm btn-success" asp-page="/SummaryHistories" asp-route-pathId="@item.Id">Summary History</a>
                    </td>
                    <td>
                        <a class="btn btn-sm btn-danger" asp-page="/DeletePath" asp-route-pathId="@item.Id">Delete Path</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}